{% extends 'main/log.html' %}
{% block title %} About us | Our method {% endblock %}
{% block content %} 
<body>
	<h1>Who we are, what we do!</h1>
	
		<p1><b>Our teaching methodology</b> is based on learning in a natural way also based on "best practices" that our certified and specialized teachers have developed throughout their careers; We put together different strategies taking into account their strongest areas in order to achieve a truly complete learning. </p1> <br><br>


		<p1><b>Experiential classes:</b> They create the necessary weapons to fight within the real world, grammar structure is seen indirectly in practice, you receive live feedback at the moment or immediately after practice.</p1> <br><br>


		<p1><b>Personalized attention:</b> Fully trained teachers with a high sense of humanity and empathy, are able to truly provide excellent care inside and outside the classroom.</p1> <br><br>

		<p1>At the forefront of education: We are faithful believers ...</p1> <br><br>


		<p1><b>It can always be improved</b>, both our teachers and our own way of teaching is in constant development and improvement. Our methodology is not a rigid structure but a flexible one that recognizes their strengths and subjects them to a continuous improvement path.</p1> <br><br>

	<div class="fb-video" data-href="https://www.facebook.com/PlatinumLanguageInstitute/videos/148924403165852/" data-width="1000" data-show-text="false"><blockquote cite="https://developers.facebook.com/PlatinumLanguageInstitute/videos/148924403165852/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/PlatinumLanguageInstitute/videos/148924403165852/">Be PLATINUM... BE MORE!!!</a><p>Un saludo a todas esas personas que quieren lograr sus metas y superarse! Este post es para ti 😉

	Más del 70% de profesionistas pierden la oportunidad de crecer en sus áreas laborales por no tener un buen nivel de inglés! 

	¿No te gustaria pertenecer al 30% que por el simple hecho de dominar un 2o idioma tenga mejores posibilidades profesionales?

	Nosotros te damos: 
	🥇📈 los mejores resultados
	💸💵precios accesibles! beca de hasta el 75%... 750$ al mes modalidad inglés, 1300 francés, 1800 alemán.
	⏲️⏱️alcanzar tus metas en tiempo real!
	📜📃certificación con validez oficial! TOEFL; IELTS; DELF; TKT; TESTDAF ¡¡GRATIS!!
	💻📱MODALIDAD ONLINE, PRESENCIAL... online.platinumlanguage.com

	MANDA TUS DATOS usando el botón de messenger para hacer válida tu promoción o por whatsapp a 614-335-1766

	⏱️🚴🏻‍♀️¡¡¡APLICA SOLO A LAS PRIMERAS 50 PERSONAS QUE MANDEN SU INFO!!!⏱️🚴🏻</p>Posted by <a href="https://www.facebook.com/PlatinumLanguageInstitute/">Platinum Language Institute</a> on Thursday, April 2, 2020</blockquote></div>

</body>

{% endblock %}