{% extends 'main/log.html' %}



{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded"><h2 class="text-info"><b>We are people improving people.</b></h2></div>

<div class="shadow-sm p-3 mb-5 bg-white rounded"><p class="text-secondary"><b>Our mission:</b> Provide the best quality of language development to our clients using our PLI methodology<br> and achieving a 100% native speakers to teach the language and certify them in teaching.<br><br><br>

<b>Our vision:</b> Have international presence and to be recognized as the best language institute in the year 2030.</p></div>


<h2>English Level Test</h2>
<img src="https://lwfiles.blob.core.windows.net/platinumlanguage-public/81d2396208cc4092efe927b78905c8e7.png?client_id=5de95967fc128d538e1cf5c1&width=236&height=166" class="rounded mx-auto d-block" alt="..." width="236" height="166">
<p>Measure your English level before taking an importan exam and save up to 100$ USA Dollars<br> 
<ul class="list-group list-group-flush">
  <h3><li class="list-group-item"><b>Made for:</b></li></h3>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action list-group-item-info active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Enterprise</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">For HR</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">For Education</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">For individuals</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Integrate the PLI Solutions testing technology into your existing product with your brand</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Reduce your selection process and expense for internal and Recruitment & Selection purposes.<br><img src="https://lwfiles.blob.core.windows.net/platinumlanguage-public/53506c07fee83cc5a22fc022f7b8405a.jpeg?client_id=5de95967fc128d538e1cf5c1&width=180&height=180" class="rounded mx-auto d-block" alt="..." width="180" height="180"> </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Reduce time, expenses and hassle for placement testing in your institution.</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Save over 100$ dollars in examinations by getting a predicted certification score in minutes. TOEFL, CEFR, etc...</div>
    </div>
  </div>
</div>
<br>
Making recruitment and selection process easy as never before!
Meassure your team's and candidate's English Level with our EnglishLevelTest. Designed by language professionals. 
<br>
<br>
<ul class="list-group list-group-flush">
  <h3><li class="list-group-item"><b>Alligned to:</b></li></h3>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action list-group-item-info active" id="list-cefr-list" data-toggle="list" href="#list-cefr" role="tab" aria-controls="cefr">CEFR</a>
      <a class="list-group-item list-group-item-action list-group-item-info " id="list-toefl-list" data-toggle="list" href="#list-toefl" role="tab" aria-controls="toefl">TOEFL</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-actfl-list" data-toggle="list" href="#list-actfl" role="tab" aria-controls="actfl">ACTFL</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-ielts-list" data-toggle="list" href="#list-ielts" role="tab" aria-controls="ielts">IELTs</a>
      <a class="list-group-item list-group-item-action list-group-item-info" id="list-toeic-list" data-toggle="list" href="#list-toeic" role="tab" aria-controls="toeic">TOEIC</a>      
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-cefr" role="tabpanel" aria-labelledby="list-cefr-list"><b>The Common European Framework of Reference for Languages</b> (CEFR) is an international standard for describing language ability. It describes language ability on a six-point scale, from <b>A1</b> for beginners, up to <b>C2</b> for those who have mastered a language.</div>
      <div class="tab-pane fade" id="list-toefl" role="tabpanel" aria-labelledby="list-toefl-list">The <b>TOEFL ("Test of English as a Foreign Language")</b> is a standardized test that measures a test-taker's mastery of the English language. TOEFL scores are primarily used by universities as part of the admissions process. Typically, those who take the TOEFL want to attend university or graduate school abroad.</div>
      <div class="tab-pane fade" id="list-actfl" role="tabpanel" aria-labelledby="list-actfl-list"><b>ACTFL stands for the American Council on the Teaching of Foreign Languages</b>.<br> According to its home page, ACTFL is "a national organization dedicated to the improvement and expansion of the teaching and learning of all languages at all levels of instruction throughout the U.S." 
      <br><br>
      <b>Official ACTFL Listening Proficiency Test (LPT)</b><br><br>

      The Listening Proficiency Test (LPT) is a standardized, computer-delivered test for the global assessment of listening ability in a language. ... The listening passages and multiple choice questions and answers are presented in the target language.</div>
      <div class="tab-pane fade" id="list-ielts" role="tabpanel" aria-labelledby="list-ielts-list"><b>The International English Language Testing System</b>, or <b>IELTS</b>, is an international standardised test of English language proficiency for non-native English language speakers. It is jointly managed by the British Council, IDP: IELTS Australia and Cambridge Assessment English, and was established in 1989.<br><br><b>The purpose of the IELTS exam</b> is to test the candidates' ability of handling English language who want to study or work in a country where English is the language of communication. IELTS result is also necessary for the immigration purposes.</div>
      <div class="tab-pane fade" id="list-toeic" role="tabpanel" aria-labelledby="list-toeic-list"><b>The Test of English for International Communication</b> is an international standardized test of English language proficiency for non-native speakers. It is intentionally designed to measure the everyday English skills of people working in an international environment.</div>      
    </div>
  </div>
</div>
</ul></p>
{% endblock %}